.event {
    border: none;
    border-top: solid;
    border-left: solid;

    position: sticky;
}

.events {
    height: 100vh;
    width: calc(100vw / 7);
}

.title {
    font-weight: bold;
}

.day-header {
    text-align: center;
    font-weight: bold;
}

.calendar {
    display: flex;
    flex-direction: row;
}
